<article>
  <span class="avatar"><img src="/public/images/avatar/xorna.jpg" width="80" height="80" alt="" /><span></span></span>
  <h3>André Espeiorin</h3>
  <p>Studied Computer Science and Computer Engineering. Once a mechanic now a developer, he works with LAMP web development since 2006 and iOS and OS X development since 2010. Linux user since 2004 and Mac user since 2009. Almost an ex-musician, he was the vocalist of Skull Crusher from 2004 to 2008. Aficionado of Tolkien and Cornwell and number one advocate of wearing shorts and sneakers in the workplace.</p>
  <div class="share">
    <a href="http://twitter.com/xorna" target="_blank" title="Twitter"><img src="/public/images/share-twitter.gif" width="33" height="33" alt="Twitter" /></a>
    <a href="http://devrockr.wordpress.com/" target="_blank" title="Wordpress Blog"><img src="/public/images/share-wordpress.gif" width="33" height="33" alt="Wordpress Blog" /></a>
    <a href="http://www.facebook.com/espeiorin" target="_blank" title="Facebook"><img src="/public/images/share-facebook.gif" width="33" height="33" alt="Facebook" /></a>
    <a href="http://www.linkedin.com/in/espeiorin" target="_blank" title="Linkedin"><img src="/public/images/share-linkedin.gif" width="33" height="33" alt="Linkedin" /></a>
    <a href="http://www.last.fm/user/xorna" target="_blank" title="Lastfm"><img src="/public/images/share-lastfm.gif" width="33" height="33" alt="Lastfm" /></a>
    <a href="http://github.com/xorna" target="_blank" title="Github"><img src="/public/images/share-github.gif" width="33" height="33" alt="Github" /></a>
  </div>
</article>