<article>
  <span class="avatar"><img src="http://a0.twimg.com/profile_images/1664309300/g_pri_8120_face0.jpg" width="80" height="80" alt="" /><span></span></span>
  <h3>Elton Luís Minetto</h3>
  <p>Graduated from Unochapecó with a degree in Computer Science and has a post-graduate degree in Computer Science from UFSC/UNOESC. Co-author of “Grid Computing in Research and Education” published by IBM/Redbooks, USA, author of the book “Frameworks para Desenvolvimento em PHP” by Novatec, and author of e-books “Zend Framework na prática” and “Zend Framework 2 na prática.”  Works with Linux since 1997, PHP and MySQL since 2000, and Mac OS X since 2007. Programming enthusiast and a great fan of Rock n’ Roll and Heavy Metal.</p>
  <div class="share">
    <a href="http://twitter.com/eminetto" target="_blank" title="Twitter"><img src="/public/images/share-twitter.gif" width="33" height="33" alt="Twitter" /></a>
    <a href="http://eltonminetto.net/" target="_blank" title="Wordpress Blog"><img src="/public/images/share-personallink.gif" width="33" height="33" alt="Site" /></a>
    <a href="http://www.linkedin.com/in/eminetto" target="_blank" title="Linkedin"><img src="/public/images/share-linkedin.gif" width="33" height="33" alt="Linkedin" /></a>
    <a href="http://www.last.fm/user/eminetto" target="_blank" title="Lastfm"><img src="/public/images/share-lastfm.gif" width="33" height="33" alt="Lastfm" /></a>
    <a href="http://speakerdeck.com/u/eminetto" target="_blank" title="Speaker Deck"><img src="/public/images/share-speakerdeck.gif" width="33" height="33" alt="Speaker Deck" /></a>
    <a href="http://github.com/eminetto" target="_blank" title="Github"><img src="/public/images/share-github.gif" width="33" height="33" alt="Github" /></a>
  </div>
</article>
