<article>
    <span class="avatar"><img src="/public/images/avatar/julia.jpg" width="80" height="80" alt="" /><span></span></span>
    <h3>Julia Possamai</h3>
    <p>Graduated from The University of Texas at Austin with a degree in Marketing and a degree in Computer Science (Hook’em Horns!). Participated in the “1 Semester Startup” Program at UT Austin, where she acquired valuable knowledge and became increasingly interested in entrepreneurship. Interned at Premiere Radio Networks in New York, worked in Dallas as an Associate Business Systems Analyst and currently works with iOS development. Enjoys meeting new places and cultures. Participated in Cultural Exchange Programs in Washington, DC and Puyallup, WA. Lived in Mexico for 4 years, where she graduated from high school, but still hasn’t learned to enjoy tequila.</p>
    <div class="share">
        <a href="http://www.facebook.com/juls.possamai" target="_blank" title="Facebook"><img src="/public/images/share-facebook.gif" width="33" height="33" alt="Facebook" /></a>
        <a href="http://www.linkedin.com/pub/julia-possamai/1a/757/b09" target="_blank" title="Linkedin"><img src="/public/images/share-linkedin.gif" width="33" height="33" alt="Linkedin" /></a>
    </div>
</article>
