<article>
    <span class="avatar"><img src="/public/images/thiago.png" width="80" height="80" alt="" /><span></span></span>
    <h3>Thiago Vieira</h3>
    <p>Holds a degree in Graphic Design and also completed a technical program in Data Processing. Works with graphic development since 2005, when he became fascinated with the web. Applies his knowledge in technology and design, is two years focused on interface development for mobile platforms, and especially his attention to detail to improve the user experience. Is a fan of AC/DC, enjoys Rock n’ Roll and as a hobby practices Ballroom dancing.</p>
    <div class="share">
        <a href="http://twitter.com/thiagovieiracom" target="_blank" title="Twitter"><img src="/public/images/share-twitter.gif" width="33" height="33" alt="Twitter" /></a>
        <a href="http://thiagovieira.com/" target="_blank" title="Site Pessoal"><img src="/public/images/share-personallink.gif" width="33" height="33" alt="Site Pessoal" /></a>
        <a href="http://www.facebook.com/thiagovieiracom" target="_blank" title="Facebook"><img src="/public/images/share-facebook.gif" width="33" height="33" alt="Facebook" /></a>
        <a href="http://www.linkedin.com/in/thiagovieiracom" target="_blank" title="Linkedin"><img src="/public/images/share-linkedin.gif" width="33" height="33" alt="Linkedin" /></a>
    </div>
</article>